main {
  align-items: center;
}

main figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem !important;
    gap: 1rem;
}

figcaption {
  grid-area: description;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem !important;
  height: 100%;
}

main #avatar {
  border-radius: 50%;
}

figure #avatar {
  overflow: hidden;
  width: 21.875rem;
  height: 21.875rem;
}

figure img {
  grid-area: photo;
  width: 100%;
  justify-self: center;
}

main ul li {
  text-align: center;
}