main {
  align-items: center;
}

main figure {
    display: grid;
    grid-template-areas: "photo description";
    grid-template-rows: 75vh;
    align-items: center;
    margin: 0 1rem !important;
}

figcaption {
  grid-area: description;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem !important;
  height: 100%;
}

figure img {
  grid-area: photo;
  width: 80%;
  justify-self: center;
}